
<div class='footer'>
	<img class='avatar' src='/img/avatar.jpeg'/>
	<div class='personal'>
		<span class="motto">
			Come on!		
		</span>
	</div>
	
	<ul class='nav'>
		<li class='links'>
			<a href='//github.com/Esmio' target='_blank'>
				<img src='/img/github.jpeg' class='git'/>
				GitHub
			</a>		
		</li>
		<li class='links'>
			<a href='https://www.zhihu.com/people/999kilometer/activities' target='_blank'/>
				<img src='/img/zhihu.jpeg' class='zhihu'>知乎
			</a>		
		</li>
	</ul>
</div>
</body>