
<div class="footer">
	<div class="img">
		<img src='/img/avatar.jpg'>	
	</div>
	<ul class="links">
		<li>
			<img src="" alt="" class="git">
			<a href="" target="_blank">作者GitHub</a>
		</li>
		<li>
			<img src="" alt="" class="git">
			<a href="" target="_blank">作者GitHub</a>
		</li>
	</ul>
</div>
</body>